<div>
    <button (click)="navegacion()">Pagina Principal</button>
    <button (click)="navegar()" >Informacion</button>
    <button (click)="pag_2()">Hobbies</button>
    <button (click)="pag_3()" >Profesion</button>
    <h1>INFORMACION</h1>
    <ul>
        <li>Nombre: Andy Alexander</li>
        <li> Capón Chicaiza</li>
        <li> Edad: 16 años</li>
        <li>Lugar de nacimiento: Ecuador-Cuenca</li>
        <li>Fecha de nacimiento: 20-6-2006</li>
    </ul>
</div>
<p>Valor recuperado</p>
<p>{{resultado}}</p>
<p>Texto recuperado</p>
<p>{{mensaje}}</p>
<hr>
<h1>Insumo #6</h1>

